@import "tailwindcss";

/* Updated minimalist scrollbar styles */
::-webkit-scrollbar {
  width: 5px; /* Make scrollbar thinner */
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent; /* Make the track invisible */
}

::-webkit-scrollbar-thumb {
  background: #475569; /* slate-600, a more subtle color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b; /* slate-500 */
}